{% extends 'front/index.html.twig' %}

{% block body %}
{# @TODO: gestion d'erreurs #}

<h1>Formulaire d'inscription</h1>

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit" class="btn btn-primary">Register!</button>
{{ form_end(form) }}
{% endblock %}